<appSettings>

  <!--Naming convention: FieldType_Page_FieldName-->
  
  <!--Login Page-->
  
  <add key="Txt_Login_Username" value="//input[contains(@type,'text')]"/>
  <add key="Txt_Login_Password" value="//input[contains(@type,'password')]"/>
  <add key="Btn_Login_Login" value="//input[contains(@type,'Submit')]"/>
  
  
  <!--Search Page-->
  
  <add key="Lst_Search_Location" value="//select[contains(@name,'location')]"/>
  <add key="Lst_Search_LocSydney" value="/html/body/table[2]/tbody/tr[2]/td/form/table/tbody/tr[2]/td[2]/select/option[2]"/>
  <add key="Lst_Search_RoomNo" value="//select[@name='room_nos'][contains(@id,'nos')]"/>
  <add key="Lst_Search_AdultRoom" value="//select[@name='adult_room'][contains(@id,'room')]"/>
  <add key="Btn_Search_Search" value="//input[contains(@type,'submit')]"/>
  
</appSettings>