<appSettings>
  
  <!--URL config-->
  <add key="build1Url" value="http://www.adactin.com/HotelApp/"/>
  <add key="build2Url" value="http://www.adactin.com/HotelApp1/"/>
  
  <!--Excel file path-->

  <add key="filePath" value="D:\Locations.csv"/>
  <add key="defaultValuesFilePath" value="D:\DefaultValues.csv"/>
  
  <!--Naming convention: FieldType_Page_FieldName-->
  
  <!--Login Page-->
  
  <add key="Txt_Login_Username" value="//input[contains(@type,'text')]"/>
  <add key="Txt_Login_Password" value="//input[contains(@type,'password')]"/>
  <add key="Btn_Login_Login" value="//input[contains(@type,'Submit')]"/>
  <add key="Lnk_Login_Register" value="//a[contains(.,'New User Register Here')]"/>
  
  
  <!--Search Page-->
  
  <add key="Lst_Search_Location" value="//select[contains(@name,'location')]"/>
  <add key="Lst_Search_LocSydney" value="/html/body/table[2]/tbody/tr[2]/td/form/table/tbody/tr[2]/td[2]/select/option[2]"/>
  <add key="Lst_Search_LocMelbourne" value="/html/body/table[2]/tbody/tr[2]/td/form/table/tbody/tr[2]/td[2]/select/option[3]"/>
  <add key="Lst_Search_LocBrisbane" value="/html/body/table[2]/tbody/tr[2]/td/form/table/tbody/tr[2]/td[2]/select/option[4]"/>
  <add key="Lst_Search_LocAdelaide" value="/html/body/table[2]/tbody/tr[2]/td/form/table/tbody/tr[2]/td[2]/select/option[5]"/>
  <add key="Lst_Search_LocLondon" value="/html/body/table[2]/tbody/tr[2]/td/form/table/tbody/tr[2]/td[2]/select/option[6]"/>
  <add key="Lst_Search_LocParis" value="/html/body/table[2]/tbody/tr[2]/td/form/table/tbody/tr[2]/td[2]/select/option[9]"/>
  <add key="Lst_Search_Hotels" value="//select[contains(@name,'hotels')]"/>
  <add key="Lst_Search_RoomType" value="//select[@name='room_type'][contains(@id,'type')]"/>
  <add key="DateTime_Search_CheckInDate" value="//input[@name='datepick_in'][contains(@id,'in')]"/>
  <add key="DateTime_Search_CheckOutDate" value="//input[@name='datepick_out'][contains(@id,'out')]"/>
  <add key="Lst_Search_RoomNo" value="//select[@name='room_nos'][contains(@id,'nos')]"/>
  <add key="Lst_Search_AdultRoom" value="//select[@name='adult_room'][contains(@id,'room')]"/>
  <add key="Lst_Search_ChildRoom" value="//select[@name='child_room'][contains(@id,'room')]"/>
  <add key="Btn_Search_Search" value="//input[contains(@type,'submit')]"/>
  <add key="Lnk_Search_ChangePassWord" value="//a[contains(.,'Change Password')]"/>
  <add key="Lnk_Search_LogOut" value="//a[contains(.,'Logout')]"/>
  <add key="Btn_Search_Cancel" value="//input[contains(@type,'button')]"/>
  
  
  <!--Select Hotel Page-->

  <add key="Field_Select_HotelName" value="//input[@name='hotel_name_0'][contains(@id,'0')]"/>
  <add key="Field_Select_Location" value="//input[@name='location_0'][contains(@id,'0')]"/>
  <add key="Field_Select_Rooms" value="//input[@name='rooms_0'][contains(@id,'0')]"/>
  <add key="Field_Select_ArrivalDate" value="//input[@name='arr_date_0'][contains(@id,'0')]"/>
  <add key="Field_Select_DepartureDate" value="//input[@name='dep_date_0'][contains(@id,'0')]"/>
  <add key="Field_Select_NoOfDays" value="//input[@name='no_days_0'][contains(@id,'0')]"/>
  <add key="Field_Select_RoomType" value="//input[@name='room_type_0'][contains(@id,'0')]"/>
  <add key="Field_Select_PricePerNight" value="//input[@name='price_night_0'][contains(@id,'0')]"/>
  <add key="Field_Select_TotalPrice" value="//input[@name='total_price_0'][contains(@id,'0')]"/>
  <add key="Btn_Select_Continue" value="//input[contains(@type,'submit')]"/>
  <add key="Btn_Select_Cancel" value="//input[contains(@type,'button')]"/>
  
  <!--Book a Hotel Page-->

  <add key="Txt_Book_FirstName" value="//input[@name='first_name'][contains(@id,'name')]"/>
  <add key="Txt_Book_LastName" value="//input[@name='last_name'][contains(@id,'name')]"/>
  <add key="Txt_Book_Address" value="//textarea[contains(@name,'address')]"/>
  <add key="Txt_Book_CCNo" value="//input[@name='cc_num'][contains(@id,'num')]"/>
  <add key="Lst_Book_CCType" value="//select[contains(@name,'cc_type')]"/>
  <add key="Lst_Book_CCMonth" value="//select[@name='cc_exp_month'][contains(@id,'month')]"/>
  <add key="Lst_Book_CCYear" value="//select[@name='cc_exp_year'][contains(@id,'year')]"/>
  <add key="Txt_Book_CVV" value="//input[@name='cc_cvv'][contains(@id,'cvv')]"/>
  <add key="Btn_Book_Book" value="//input[@type='button'][contains(@id,'now')]"/>
  
  
  <!--Booking Confirmation Page-->
  
  <add key="Btn_Confirm_MyItinerary" value="//input[@type='button'][contains(@id,'itinerary')]"/>
  
  <!--Register New User Page-->

  <add key="Txt_Register_UserName" value="//input[contains(@name,'username')]"/>
  <add key="Txt_Register_PassWord" value="//input[@name='password']"/>
  <add key="Txt_Register_ConFirmPassWord" value="//input[@name='re_password'][contains(@id,'password')]"/>
  <add key="Txt_Register_FullName" value="//input[@name='full_name'][contains(@id,'name')]"/>
  <add key="Txt_Register_Email" value="//input[@name='email_add'][contains(@id,'add')]"/>
  <add key="Chb_Register_Terms" value="//input[@type='checkbox'][contains(@id,'box')]"/>
  <add key="Txt_Register_Captcha" value="//input[@name='captcha']"/>
  <add key="Btn_Register_Register" value="//input[contains(@type,'submit')]"/>
  <add key="Btn_Register_Reset" value="//input[contains(@type,'reset')]"/>
  
  <!--Change Password Page-->

  <add key="Txt_PassWord_CurrentPassWord" value="//input[contains(@name,'current_pass')]"/>
  <add key="Txt_PassWord_NewPassWord" value="//input[contains(@name,'new_password')]"/>
  <add key="Txt_PassWord_ConfirmPassWord" value="//input[contains(@name,'re_password')]"/>
  <add key="Btn_PassWord_Submit" value="//input[@type='submit']"/>
  
  
  <!--Booked Itinerary Page-->

  <add key="Txt_Booked_SearchField" value="//input[@name='order_id_text'][contains(@id,'text')]"/>

  
  
</appSettings>