<appSettings>

  <!--Naming convention: FieldType_Page_FieldName-->
  
  <!--Login Page-->
  
  <add key="Txt_Login_Username" value="//input[contains(@type,'text')]"/>
  <add key="Txt_Login_Password" value="//input[contains(@type,'password')]"/>
  <add key="Btn_Login_Login" value="//input[contains(@type,'Submit')]"/>
  
  
  <!--Search Page-->
  
  <add key="Lst_Search_Location" value="//select[contains(@name,'location')]"/>
  
</appSettings>